* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Manrope";
  src: url(font/Manrope-VariableFont_wght.ttf);
}

@font-face {
  font-family: "ManropeBold";
  src: url(font/static/Manrope-SemiBold.ttf);
}

html,
body {
  height: 100%;
}

body {
  background-color: hsl(210, 46%, 95%);
  color: hsl(217, 19%, 35%);
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: white;
  font-size: 0.9rem;
  width: 260px;
}

main > img {
  /* width: 270px; */
  height: 160px;
  border-radius: 8px 8px 0 0;
}

.content {
  padding: 28px 26px 10px 25px;
  font-size: 0.8em;
  line-height: 1.47;
}

.content > p {
  margin-bottom: 10px;
}

#first-text {
  font-family: ManropeBold, "sans-serif";
  font-weight: 700;
  font-size: 12.7px;
  /* font-size: 1.1em; */
}

#second-text {
  font-size: 0.97em;
  margin-bottom: 20px;
  line-height: 1.6;
}

.writer-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 7px;
}

.writer-left {
  display: flex;
  align-items: center;
  gap: 13px;
}

.writer-left p {
  font-size: 0.87em;
  font-family: ManropeBold, "sans-serif";
}

#avatar {
  width: 33px;
  height: 33px;
  border-radius: 50%;
}

#date-text {
  opacity: 0.4;
  margin-top: 3px;
}

.share-icon-div {
  background-color: hsl(210, 46%, 95%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

#share-icon {
  width: 13px;
  height: 10px;
}

.share-div {
  display: flex;
  background-color: hsl(217, 19%, 35%);
  border-radius: 0 0 8px 8px;
  color: white;
  padding: 8px 26px 5px 25px;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  /* display: none; */
}

.share-div img {
  width: 15px;
  height: 15px;
}
