* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Manrope";
  src: url(font/Manrope-VariableFont_wght.ttf);
}

@font-face {
  font-family: "ManropeBold";
  src: url(font/static/Manrope-SemiBold.ttf);
}

html,
body {
  height: 100%;
}

body {
  background-color: hsl(210, 46%, 95%);
  color: hsl(217, 19%, 35%);
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: white;
  font-size: 1.25rem;
  max-width: 367px;
}

.hidden {
  display: none !important;
}

main > img {
  height: 200px;
  border-radius: 8px 8px 0 0;
}

.content {
  font-size: 0.8em;
  line-height: 1.47;
  padding-left: 31px;
  padding-right: 32px;
  position: relative;
}

.content > p {
  margin-bottom: 10px;
}

#first-text {
  margin-top: 34px;
  margin-bottom: 10px;
  font-family: ManropeBold, "sans-serif";
  font-weight: 500;
  /* font-size: 1.5em; */
}

#second-text {
  font-size: 0.82em;
  margin-bottom: 18px;
  line-height: 1.5;
  font-family: ManropeBold, "sans-serif";
  font-weight: 200;
  color: hsl(214, 17%, 51%);
  opacity: 0.9;
}

.writer-div {
  padding-top: 19px;
  margin-bottom: 19px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* display: none; */
}

.writer-left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.writer-left p {
  font-size: 0.8em;
  font-family: ManropeBold, "sans-serif";
}

#avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

#date-text {
  opacity: 0.4;
  margin-top: 3px;
}

.share-icon-div {
  background-color: hsl(210, 46%, 95%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

#share-icon {
  width: 15px;
  height: 13px;
}

.share-div {
  display: flex;
  background-color: hsl(217, 19%, 35%);
  border-radius: 0 0 8px 8px;
  color: white;
  padding: 5px 32px 5px 31px;
  margin-top: 5px;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  /* position: absolute;
  left: 0;
  right: 0;
  bottom: 0; */
}

.share-div-left {
  display: flex;
  align-items: center;
  gap: 16px;
}

.share-div p {
  font-size: 0.8em;
  letter-spacing: 5px;
  margin-right: 5px;
  opacity: 0.7;
}

.share-div img {
  width: 20px;
  height: 20px;
}

#twitter-icon {
  width: 19px;
  height: 16px;
}

.share-div .share-icon-div {
  background-color: hsl(214, 17%, 51%);
}

.share-div #share-icon {
  filter: brightness(0) saturate(100%) invert(95%) sepia(83%) saturate(20%)
    hue-rotate(199deg) brightness(104%) contrast(101%);
}

/*
****************************
Media Queries 
****************************
*/

@media (min-width: 575px) {
  main {
    max-width: 417px;
    font-size: x-large;
  }

  main > img {
    height: 210px;
  }

  #first-text {
    margin-bottom: 20px;
  }

  #second-text {
    margin-bottom: 23px;
  }

  .share-icon-div {
    width: 36px;
    height: 36px;
  }

  #share-icon {
    width: 18px;
    height: 16px;
  }

  .share-div {
    height: 70px;
  }

  .share-div-left {
    gap: 20px;
  }

  .share-div img {
    width: 24px;
    height: 24px;
  }

  #twitter-icon {
    width: 23px;
    height: 20px;
  }
}

@media (min-width: 992px) {
  main {
    flex-direction: row;
    max-width: 740px;
    font-size: 1.4rem;
  }

  main > img {
    border-radius: 8px 0 0 8px;
    max-width: 300px;
    height: auto;
  }

  .content {
    padding-left: 36px;
    padding-right: 40px;
  }

  #first-text {
    font-size: 1.14em;
    margin-bottom: 12px;
  }

  #second-text {
    font-size: 0.75em;
    margin-bottom: 12px;
  }

  .writer-div {
    padding-top: 5px;
    margin-bottom: 30px;
  }

  .share-icon-div {
    width: 32px;
    height: 32px;
  }

  #share-icon {
    width: 15px;
    height: 13px;
  }

  .share-div {
    height: 70px;
    /* display: none !important; */
    width: 200px;
  }

  .share-div-left {
    gap: 10px;
  }

  .share-div img {
    width: 24px;
    height: 24px;
  }

  #twitter-icon {
    width: 23px;
    height: 20px;
  }
}
